{% extends 'base.html' %}

{% block title %}Add Passenger{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <input type="text" name="first_name" placeholder="First name" required>
    <input type="text" name="last_name" placeholder="Last name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="phone" placeholder="Phone number">
    <button type="submit">Add passenger</button>
</form>
    
    <h3 style="color: red">Warning! You need to use email you entered on registration.</h3>
    
{% endblock %}
