{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1>Log in system to continue</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Username:
            <input type="text" name="username" required>
            </label>
        </div>
        <div>
            <label>Password:
            <input type="password" name="password" required>
            </label>
        </div>
        <button type="submit" class="button button_b">Login</button>
    </form>
    <a href="{% url 'register' %}" class="button">Register</a>
{% endblock %}